body {
  margin: 0;
}

.main-title {
  font-family: Georgia, serif;
  font-size: 40px;
  margin-bottom: 20px;
  color: #0079e8;
}

.main-container {
  padding: 30px;
  border-top: solid 17px #22a522;
}

.blog-list {
  width: 400px;
}

.blog-post-container {
  margin-top: 40px;
  padding-top: 10px;
  width: 500px;
}

.blog-post-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.blog-post-body {
  font-size: 0.9rem;
  line-height: 1.4em;;
  font-family: Georgia, serif;
}

.blog-post-date {
  font-family: "Courier New", serif;
  font-size: 15px;
}

.nugget-list {
  width: 400px;
}

.nugget-container {
  margin-top: 40px;
  padding: 10px 10px;
  width: 500px;
  border: solid 1px green;
}

.nugget-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.nugget-body {
  font-size: 0.9rem;
  line-height: 1.4em;;
  font-family: Georgia, serif;
}

.nugget-date {
  font-family: "Courier New", serif;
  font-size: 15px;
}

.skeleton-block {
  width: 500px;
}